<ion-header>
  <ion-toolbar>
    <ion-title>{{ reverseMode ? 'Roman to Script' : 'Script to Roman' }}</ion-title>
    <ion-buttons slot="end">
      <ion-toggle class="ion-padding" [(ngModel)]="reverseMode"></ion-toggle>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>
<ion-content>
  <div class="unit-container">
    <ng-container *ngIf="promptIndex < prompts.length; else completed">
      <h1 class="unit-prompt ion-text-center">{{ reverseMode ? answer : prompt }}</h1>
      <ion-item class="unit-input">
        <ion-input placeholder="Type your answer..." [(ngModel)]="inputText"></ion-input>
        <ion-button (click)="submit()" [disabled]="!inputText">Submit</ion-button>
      </ion-item>
    </ng-container>
    <ng-template #completed>
      <h1 class="ion-text-center">Completed!</h1>
      <ion-button [routerLink]="['/home']">Home</ion-button>
    </ng-template>
  </div>
</ion-content>
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button id="open-modal">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Add new Prompt</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Add</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-label position="stacked">Enter prompt content</ion-label>
        <ion-input type="text" placeholder="Prompt content" [(ngModel)]="newPrompt.content"></ion-input>
        <ion-label position="stacked">Enter prompt answer</ion-label>
        <ion-input type="text" placeholder="Prompt answer" [(ngModel)]="newPrompt.answer"></ion-input>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>
